<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="contact page">
    <meta name="author" content="Henry Booth">
    <link rel="stylesheet" href="{% static 'css/topnav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
    <div class="topnav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about-me/">About Me</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a class="active" href="/contact/">Contact</a></li>
        </ul>
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-caret-down" style="margin-left: 10px;"></i>
            </button>
            <div class="dropdown-content">
                <a class="active" href="#">Home</a>
                <a href="#">About Me</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</header>

<body class="main">
    <div class="col-md-4">
        <div class="portfolio-text">
            <h1>Contact Me</h1>
            <p>Send me an email with the form below:</p>
        </div>
    </div>
<div class="col-md-4">
    <div class="form-container">
        <form action="#">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="company">Company</label>
            <input type="text" id="company" name="company" placeholder="Your company..">
            <label for="message">Your Message</label>
            <textarea id="message" name="message" placeholder="Your message..""></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

</body>
</html>
